extends layout

block content
  h1= title
  p Welcome to #{title}


  if user
    h1 welcome #{user.displayName}
    ul
      each activity in activities
        li #{activity.start_date} #{activity.name} #{activity.distance}m
  else 
    p
      a(href='/auth') 
        img(src='/images/btn_strava_connectwith_orange.png')
